.line {
	padding-bottom: 5px;
	margin-bottom: 45px;
	border-bottom: 1px solid #EAEAEA;
	text-align: left;
}

.lineText {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
}

@media screen and (max-width: 767px) {
	.line {
		margin-bottom: 25px;
	}
}

@media screen and (min-width: 768px) {
	.line {
		margin-bottom: 45px;
	}
}

@media screen and (max-width: 1023px) {
	.articlesContainer {
		text-align: center;
	}

	.articlesContainer :last-child {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 1024px) {
	.articlesContainer {
		display: inline-grid;
		grid-gap: 45px;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
	.articlesContainer {
		grid-template-columns: repeat(2, 400px);
	}
}

@media screen and (min-width: 1440px) {
	.articlesContainer {
		grid-template-columns: repeat(3, 400px);
	}
}