.container {
	max-width: 400px;
	max-height: 530px;
	border: 1px solid #EAEAEA;
	border-radius: 5px;
	background: #FFFFFF;
	box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
}

.container:hover {
	cursor: pointer;
}

.image {
	width: 100%;
	max-width: 400px;
	height: 217px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.cardTextContainer {
	padding: 25px;
}

.dateContainer {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	max-width: 129px;
	margin-bottom: 24px;
}

.date {
	margin-left: 9px;
	color: #363636;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	opacity: 0.6;
}

.title {
	height: 81px;
	margin-top: 0;
	margin-bottom: 20px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
}

.description {
	height: 75px;
	margin-top: 0;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.readMoreBtn {
	padding: 0;
	border: none;
	background-color: #FFFFFF;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	max-width: 110px;
}

.readMoreBtn > svg {
	width: 24px;
	height: 19px;
  transform: rotate(90deg);
	fill: #363636;
}

.readMoreBtnText {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
}

.readMoreBtn:hover {
	cursor: pointer;
}