.container {
	position: relative;
	padding-bottom: 45px;
	border-radius: 5px;
}

.image {
	width: 100%;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.articleContainer {
	padding-top: 35px;
	padding-right: 75px;
	padding-bottom: 50px;
	padding-left: 75px;
	border: 1px solid #EAEAEA;
	border-radius: 5px;
	background: #FFFFFF;
	box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
}

.title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
}

.text {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
}

.homeBtn {
	padding: 0;
	border: none;
	background-color: #FFFFFF;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	max-width: 178px;
}

.homeBtnText {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
}