.container {
	height: 88vh;
	padding-top: 50px;
	padding-right: 75px;
	padding-bottom: 63px;
	padding-left: 75px;
	background-color: #E5E5E5;
}

.line {
	padding-bottom: 5px;
	margin-bottom: 45px;
	border-bottom: 1px solid #EAEAEA;
}

.lineText {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
}